@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar{
    display: none;
}

:root {
    --warna-primer : #213555; 
    --warna-sekunder : #3E5879;
    --warna-teks : #d4bba8;
    --warna-hover : #F5EFE7;
    --warna-hitam : #000000;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--warna-sekunder);
}

body {
    background-color: var(--warna-primer);
}

/* content */

section {
    padding: 3% 15%;
}

#containerContent {
    max-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#containerContent img {
    align-content: center;
    grid-row: 1;
    width: 60%;
    margin-left: 20%;
    animation: ujung 2s alternate infinite;
}

@keyframes ujung {
    from {
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
    }
    to {
        border-top-left-radius: 150px;
        border-bottom-right-radius: 150px;
    }
}

.textContent h1 {
    margin-top: 20px;
    
    color: var(--warna-teks);
    text-align: center;
    font-weight: 750;
    font-size: 35px;
    letter-spacing: 0.04cm;
}

.textContent p {
    margin-top: 10px;
    margin-right: 270px;
    margin-left: 270px;

    color: var(--warna-hover);
    text-align: justify;
    font-size: 20px;
    letter-spacing: 0.04cm;
}
