/* Bagian Navbar */

.containerNavbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
    background-color: var(--warna-hover);
}

.logo {
    font-size: 30px;
    margin: 25px 0px 25px 0px;
    color: var(--warna-hitam);
}

.logo span {
    font-weight: 730;

    animation: colorChange 3s alternate infinite ease-in-out;
}

@keyframes colorChange {
    from {
        color: var(--warna-teks);
    }
    to {
        color: var(--warna-hitam);
    }
}

.berandaNavbar {
    cursor: pointer;
    color: var(--warna-hitam);

    transition: all 0.2s ease-out;
}

.berandaNavbar:hover{
    color: var(--warna-sekunder);
    font-weight: 700;

    transition: all 0.2s ease-in;
}

.navbarPilihan{
    cursor: default;
}

.containerNavbar ul {
    display: flex;
}

.containerNavbar ul li {
    position: relative;
    padding: 20px 0px 20px 50px; 
    font-size: 20px;
}

.containerNavbar ul li a{
    color: var(--warna-hitam);
    font-weight: 500;
}

.menus {
    display: none;
}

.menus ul {
    display: block;
}

.menus ul a {
    color: var(--warna-hitam);
    font-size: 20px;
    transition: all 0.25s ease-out;
}

.menus ul a:hover {
    color: var(--warna-sekunder);

    transition: all 0.25s ease-in;
}

.menus ul li {
    width: 220px;
    left: 0px;
    padding: 15px;
}

.containerNavbar ul li .menus {  
    opacity: 0;   
    visibility: hidden;   
    display: block;
    position: absolute;  
    left: 35px;  
    top: 0px;
    border-bottom-right-radius: 25px;  
    border-bottom-left-radius: 25px;  
    background-color: var(--warna-hover);

    transition: opacity 0.6s ease-out, visibility 0.27s ease-out, top 0.85s ease-in-out;
}

.containerNavbar ul li:hover .menus {
    opacity: 1; /* Menjadi terlihat */  
    visibility: visible; /* Menjadi terlihat */
    background-color: var(--warna-hover);
    top: 60px;
    transition: opacity 0.6s ease-in, visibility 0.4s ease-in , top 0.4s ease-in-out;
}

/* end of navbar */
