@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar{
    display: none;
}

:root {
    --warna-primer : #213555; 
    --warna-sekunder : #3E5879;
    --warna-teks : #d4bba8;
    --warna-hover : #F5EFE7;
    --warna-hitam : #000000;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--warna-sekunder);
}

body {
    background-color: var(--warna-primer);
}

/* Bagian Navbar */

.containerNavbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
    background-color: var(--warna-teks);
}

.logo {
    font-size: 30px;
    margin: 25px 0px 25px 0px;
    color: var(--warna-hitam);
}

.logo span {
    font-weight: 730;

    animation: colorChange 3s alternate infinite ease-in-out;
}

@keyframes colorChange {
    from {
        color: var(--warna-hitam);
    }
    to {
        color: var(--warna-hover);
    }
}

.berandaNavbar {
    cursor: pointer;
}

.berandaNavbar:hover{
    color: var(--warna-sekunder);
    transition: all 0.4s ease-in-out;
}

.navbarPilihan{
    cursor: default;
}

.containerNavbar ul {
    display: flex;
}

.containerNavbar ul li {
    position: relative;
    padding: 20px 0px 20px 50px; 
    font-size: 20px;
}

.containerNavbar ul li a{
    color: var(--warna-hitam);
    font-weight: 500;
}

.menus {
    display: none;

}

.menus ul {
    display: block;
}

.menus ul a:hover {
    color: var(--warna-sekunder);
    transition: all 0.4s ease;
}

.menus ul li {
    width: 220px;
    left: 0px;
    padding: 15px;
    transition: all 10s ease;
}

.containerNavbar ul li .menus {  
    opacity: 0; /* Mulai dengan transparan */  
    visibility: hidden; /* Tidak terlihat */  
    display: block;
    position: absolute;  
    left: 35px;  
    top: 60px;  
    border-bottom-right-radius: 25px;  
    border-bottom-left-radius: 25px;  
    background-color: var(--warna-teks);

    transition: opacity 0.6s ease-out, visibility 0.1s ease-out;
}

.containerNavbar ul li:hover .menus {
    opacity: 1; /* Menjadi terlihat */  
    visibility: visible; /* Menjadi terlihat */
    background-color: var(--warna-teks);  

    transition: opacity 0.6s ease-in, visibility 0.6s ease-in;
}

/* end of navbar */