@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar{
    display: none;
}

:root {
    --warna-primer : #213555; 
    --warna-sekunder : #3E5879;
    --warna-teks : #d4bba8;
    --warna-hover : #F5EFE7;
    --warna-hitam : #000000;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--warna-sekunder);
}

body {
    background-color: var(--warna-primer);
}

/* content */

section {
    padding: 5% 10%;
}

#containerBeranda {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#containerBeranda img{
    grid-column: 1;
    position: relative;
    width: 70%;
    height: auto;
    margin-right: 20%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    animation: floatingImage 2s alternate infinite ease-in-out;
}

@keyframes floatingImage {
    from {
        top: 0px;
    }
    to {
        top: 60px;
    }
}

.textBeranda{
    grid-column: 2;
    margin-left: 0%;
}

.textBeranda h1{
    color: var(--warna-teks);
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 1.5px;
    margin: 15px 0;
    font-weight: 700;
    font-size: 50px;
}

.textBeranda p {
    color: var(--warna-hover);
    text-align: justify;
    letter-spacing: 0.04cm;
    max-width: 620px;
    font-size: 20px;
}

/* content saya */
#containerSaya {
    background-color: var(--warna-sekunder);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(2, 1fr)
}
/* end of content saya */